*
{
    box-sizing: border-box;
}

div{
    width: 400px;
    background-color: #eee;
    border: 1px solid;
    border-color: red blue ;
    margin: 20px auto;
    font-weight: bold;
    padding: 20px;
    position: relative;
}

span{
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
}
span.top-left
{
    top: -10px;
    left: -10px;
    background-color: blue;
    text-align: center;
    border-right: 1px solid red;
}

span.top-right{
    top: -10px;
    right: -10px;
    background-color: blue;
    text-align: center;
    border-left: 1px solid red;
}
span.bottom-left
{
    bottom: -10px;
    left: -10px;
    background-color: blue;
    text-align: center;
    border-right: 1px solid red;
}

span.bottom-right
{
    bottom: -10px;
    right: -10px;
    background-color: blue;
    text-align: center;
    border-left: 1px solid red;
}

